@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    height: 100vh; 
}

.left-panel {
    flex: 1;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-panel .logo {
    max-width: 80%;
    height: auto;
}

.right-panel {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-panel h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Outfit';
}

#signupForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
}

#signupForm input[type="text"],
#signupForm input[type="password"],
#signupForm input[type="Re-Enter password"],
#signupForm input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Outfit';
}

.captcha-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#captchaQuestion {
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #ccc;
    color: #666;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #000000;
    color: #ccc;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left-panel, .right-panel {
        flex: none;
        width: 100%;
        height: 50vh;
    }
    
    #loginForm {
        width: 90%;
    }
}
